<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="css/styles.css" type="text/css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>

<div class="form-style-2">
    <div class="form-style-2-heading">
        Create!
    </div>

    <form action="#" th:action="@{/create}" th:object="${user}" method="post">
        <label for="firstName">First name</label>
        <input class="input-field" type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
        <br>
        <label for="lastName">Last name</label>
        <input class="input-field" type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
        <br>
        <input type="submit" value="Create User">

    </form>

</div>



</body>
</html>